@model  Denuncia
@{
    ViewBag.Title = "Destinatario";
    }


<section id="form-create-complaint" class="container-sm justify-content-center mt-n1">
    <h2></h2>

    <div class="form-container">
        <span>Os campos com * são de preenchimento obrigatório</span>
        @using (Html.BeginForm())
        {
            <div>

                <div class="dest show form-frag">


                    <div>
                        <label>Órgão para o qual você quer enviar sua manifestação*</label>
                        @Html.ValidationMessageFor(model => model.OrgaoDestino, "", new { @class = "text-danger" })
                    </div>
                    @Html.DropDownListFor(model => model.OrgaoDestino, new SelectList(new[]
                    {
                        new {Text= "Testando 01", Value="meu valor 01"},
                        new {Text= "Testando 02", Value="meu valor 02"}
                    }, "Value", "Text"), "Selecione")
                    <div>
                        <label>Sobre qual assunto você quer falar</label>
                        @Html.ValidationMessageFor(model => model.Assunto, "", new { @class = "text-danger" })
                    </div>
                    @Html.DropDownListFor(model => model.Assunto, new SelectList(new[]
                    {
                        new {Text= "Testando 01", Value="meu valor 01"},
                        new {Text= "Testando 02", Value="meu valor 02"}
                    }, "Value", "Text"), "Selecione")

                    <div>
                        <label>Sobre qual órgão você quer falar</label>
                        @Html.ValidationMessageFor(model => model.OrgaoAssunto, "", new { @class = "text-danger" })
                    </div>
                    @Html.DropDownListFor(model => model.OrgaoAssunto, new SelectList(new[]
                    {
                        new {Text= "Testando 01", Value="meu valor 01"},
                        new {Text= "Testando 02", Value="meu valor 02"}
                    }, "Value", "Text"), "Selecione")
                </div>

                <div class="create hidden form-frag">

                    <div>
                        <label>Descrição dos atos ou fatos*</label>
                        @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                    </div>
                    @Html.TextAreaFor((model => model.Descricao))

                    <div class="local-do-fato d-flex flex-column" flex>
                        <h3>Local do fato</h3>
                        <div class="d-flex gap-4">
                            <div class="w-100">
                                <div>
                                    <label>UF</label>
                                    @Html.ValidationMessageFor(model => model.Uf, "", new { @class = "text-danger" })
                                </div>
                                @Html.DropDownListFor(model => model.Uf, new SelectList(new[]
                                {
                                    new {Text= "MA", Value="Maranhão"},
                                    new {Text= "SP", Value="São Paulo"}
                                }, "Value", "Text"), "Selecione")
                            </div>
                            <div class="w-100">
                                <div>
                                    <label>Município</label>
                                    @Html.ValidationMessageFor(model => model.Municipio, "", new { @class = "text-danger" })
                                </div>
                                @Html.DropDownListFor(model => model.Municipio, new SelectList(new[]
                                {
                                    new {Text= "São Luis", Value="São Luis"},
                                    new {Text= "Testando 02", Value="meu valor 02"}
                                }, "Value", "Text"), "Selecione")
                            </div>
                        </div>
                        <div class="w-100">
                            <div>
                                <label>Local</label>
                                @Html.ValidationMessageFor(model => model.Local, "", new { @class = "text-danger" })
                            </div>
                            @Html.EditorFor(model => model.Local)
                        </div>
                    </div>

                    <div class="envolvidos">
                        <h3>Quais são os envolvidos do fato</h3>
                        <div>
                            <label>Nome do envolvido</label>
                            @Html.ValidationMessageFor(model => model.Envolvido.Nome, "", new { @class = "text-danger" })
                        </div>
                        @Html.EditorFor(model => model.Envolvido.Nome)
                        <div>
                            <label>Função do envolvido</label>
                            @Html.ValidationMessageFor(model => model.Envolvido.Funcao, "", new { @class = "text-danger" })
                        </div>
                        @Html.EditorFor(model => model.Envolvido.Funcao)
                        <div>
                            <label>Órgão/Empresa</label>
                            @Html.ValidationMessageFor(model => model.Envolvido.Empresa, "", new { @class = "text-danger" })
                        </div>
                        @Html.EditorFor(model => model.Envolvido.Empresa)

                    </div>

                </div>

                <div class="summary hidden">
                    <p>Resumo da sua manifestação</p>

                    <div class="filtro">
                        <div><strong>Tipo de manifstação</strong><span></span></div>
                        <div><strong>Órgão destinatário</strong><span></span></div>
                        <div><strong>Órgão interesse</strong><span></span></div>
                        <div><strong>Assunto</strong><span></span></div>
                        <div><strong>Local do fato</strong><span></span></div>
                    </div>

                    <strong>Descrição dos atos ou fatos</strong>
                    <p></p>

                    <strong>Anexos Originais</strong>
                    <p></p>

                    <strong>Envolvidos</strong>
                    <p></p>

                    <strong>Campos adicionais</strong>
                    <p></p>

                </div>

            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Enviar" class="btn btn-default" />
                </div>
            </div>

        }

        <div class="buttons d-flex">
            <button onclick="slide(-1)" class="interacao voltar btn btn-secondary">&lt;&lt; Voltar</button>
            <button onclick="slide(1)" class="interacao avancar btn btn-primary">Avançar &gt;&gt;</button>

        </div>

    </div>

</section>



<script src="../../Scripts/form.js"></script>


