@model Denuncia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Denuncia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrgaoDestino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrgaoDestino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assunto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assunto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrgaoAssunto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrgaoAssunto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Municipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Local)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeEnvolvido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeEnvolvido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuncaoEnvolvido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuncaoEnvolvido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrgaoEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrgaoEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataPostagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPostagem)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
